<div class="row d-flex justify-content-center align-items-center">
  <div class="col-xl-11 col-lg-11">
    <ng-container *ngIf="isNew">
      <h3 class="text-center pb-3" [style]="{color: 'var(--teal-500)'}">Adauga un anunt</h3>
    </ng-container>
    <ng-container *ngIf="!isNew">
      <h3 class="text-center pb-3" [style]="{color: 'var(--teal-500)'}">Editeaza anuntul</h3>
    </ng-container>
    <hr class="my-0 pb-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row d-flex justify-content-center">
        <div class="col-3">
          <div class="col-12 pb-4">
              <span class="p-float-label flex-grow-1">
                <input
                  id="title"
                  name="title"
                  formControlName="title"
                  type="text"
                  pInputText
                  required
                  style="width: 100%"
                >
                <label for="title">
                  Titlu*
                </label>
              </span>
            <small class="p-error"
                   *ngIf="form.get('title')?.invalid && form.get('title')?.dirty">
              Titlul este obligatoriu
            </small>
          </div>

          <div class="col-12 pb-4" *ngIf="form.get('announcementType').value !== 'project' || (form.get('announcementType').value === 'project' && !isNew)">
              <span class="p-float-label flex-grow-1">
                <input
                  id="points"
                  name="points"
                  formControlName="points"
                  type="number"
                  pInputText
                  [min]="1"
                  required
                  style="width: 100%"
                >
                <label for="points">
                  Puncte*
                </label>
              </span>
            <small class="p-error"
                   *ngIf="form.get('points')?.invalid && form.get('points')?.dirty">
              Punctele sunt obligatorii
            </small>
          </div>
        </div>
        <div class="col-9">
          <div class="col-12 pb-4">
              <span class="p-float-label flex-grow-1">
                <textarea
                  rows="4"
                  cols="83"
                  id="description"
                  name="description"
                  formControlName="description"
                  type="text"
                  pInputTextarea
                  required
                  style="width: 100%"
                >
                </textarea>
                <label for="description">
                  Descriere*
                </label>
              </span>
            <small class="p-error"
                   *ngIf="form.get('description')?.invalid && form.get('description')?.dirty">
              Descrierea este obligatorie
            </small>
          </div>
        </div>
      </div>
      <h5 class="pb-2 text-center" [style]="{color: 'var(--teal-500)'}">Tipul anuntului *</h5>
      <div class="flex flex-row gap-3 align-content-center justify-content-center d-flex col-12 pb-2">
        <div class="flex align-items-center">
          <p-radioButton name="announcementType" value="project" formControlName="announcementType"
                         id="ingredient1" (ngModelChange)="onAnnouncementTypeChange()"></p-radioButton>
          <label for="ingredient1" class="ml-2">Proiect</label>
        </div>

        <div class="flex align-items-center">
          <p-radioButton name="announcementType" value="tutoringService" formControlName="announcementType"
                         id="ingredient2" (ngModelChange)="onAnnouncementTypeChange()"></p-radioButton>
          <label for="ingredient2" class="ml-2">Serviciu de tutorat</label>
        </div>

        <div class="flex align-items-center">
          <p-radioButton name="announcementType" value="teachingMaterial" formControlName="announcementType"
                         id="ingredient3" (ngModelChange)="onAnnouncementTypeChange()"></p-radioButton>
          <label for="ingredient3" class="ml-2">Material didactic</label>
        </div>
      </div>
      <small class="p-error"
             *ngIf="form.get('announcementType')?.invalid && form.get('announcementType')?.dirty">
        Tipul anuntului este obligatoriu
      </small>
      <div class="pt-3">
        <ng-container *ngIf="form.get('announcementType').value === 'teachingMaterial'">
          <app-teaching-material-form [form]="form.get('teachingMaterial')" (attachmentsUploaded)="onAttachmentsUploaded($event)"></app-teaching-material-form>
        </ng-container>

        <ng-container *ngIf="form.get('announcementType').value === 'tutoringService'">
          <app-tutoring-service-form [form]="form.get('tutoringService')"></app-tutoring-service-form>
        </ng-container>

        <ng-container *ngIf="form.get('announcementType').value === 'project'">
          <app-project-inputs [form]="form.get('project')" [totalPoints]="form.get('points').value"></app-project-inputs>
        </ng-container>
      </div>

    </form>
    <div class="row">
      <div class="col-6 d-flex align-items-center" [style]="{color: 'var(--teal-500)'}">
        <p>Campurile marcate cu * sunt obligatorii!</p>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <p-button [label]="'Save'" type="submit" (click)="onSubmit()" class="p-button-text" [disabled]="form.invalid"></p-button>
      </div>
    </div>
  </div>
</div>
