<div class="row chat-area">
  <div class="col-12 chat-messages" style="height: 300px; overflow-y: auto;" (scroll)="onScroll()" #chatArea>
    <div *ngFor="let message of chatMessages" class="row d-flex align-items-center"
         [class]="message.senderId === recipientId ? 'justify-content-start' : 'justify-content-end'">
      <div *ngIf="message.content" class="message-container col-auto"
           [class.recipient-message]="message.senderId === recipientId"
           [class.sender-message]="message.senderId !== recipientId">
        <div class="message-content text-white"
             [ngStyle]="{backgroundColor: message.senderId === recipientId ? '#82CCDD' : '#78E08F'}">
          {{message.content}}
        </div>
        <div class="message-time d-flex" [class]="message.senderId === recipientId ? 'justify-content-start' : 'justify-content-end'">
          {{ message.timestamp | date:'shortTime' }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 message-input mt-3">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="input-form row align-items-center">
      <input pInputText placeholder="Scrie..." formControlName="message" name="chatMessageDto"
             class="col-11">
      <button pButton type="submit"
              [disabled]="form.get('message').value === null || form.get('message').value === ''"
              class="col-1 p-button-text"
              icon="pi pi-send">
      </button>
    </form>
  </div>
</div>


