<h3 class="text-center pb-3" [style]="{color: 'var(--teal-500)'}">{{title}}</h3>
<div class="container">
  <div class="cardd">
    <p-dataView [value]="announcements" [paginator]="true" [rows]="9" [totalRecords]="totalRecords"
                [lazy]="true" (onLazyLoad)="onLazyLoad($event.first / 9, 9, filters, sort)"
                [layout]="'grid'">
      <ng-template pTemplate="header">
        <div class="flex flex-column md:flex-row">
          <div class="col-12">
            <app-announcement-list-filter [column]="announcementTitleCol!"
                                          [filters]="filters"
                                          [placeholder]="announcementTitleCol!.placeholder"
                                          (filterChanged)="onFilterChanged($event)">
            </app-announcement-list-filter>
          </div>
        </div>
        <div class="flex flex-column md:flex-row md:justify-content-between">
          <ng-container *ngFor="let col of cols">
            <div class="m-1" *ngIf="col.type !== 'text'">
              <app-announcement-list-filter [column]="col"
                                            [options]="col.options ? col.options : []"
                                            [filters]="filters"
                                            [placeholder]="col.placeholder"
                                            (filterChanged)="onFilterChanged($event)">
              </app-announcement-list-filter>
            </div>
          </ng-container>
        </div>
        <div class="flex flex-column md:flex-row md:justify-content-between">
          <ng-container *ngFor="let col of sortCols">
            <div class="m-1">
              <app-announcement-list-sort   [column]="col"
                                            [sort]="sort"
                                            style="width: 100%"
                                            (sortChanged)="onSortChanged($event)">
              </app-announcement-list-sort>
            </div>
          </ng-container>
        </div>
      </ng-template>
      <ng-template let-announcement pTemplate="gridItem">
        <div class="col-4 p-2">
          <div class="p-4 border-1  border-round h-100 announcement-card card-border" >
            <div class="flex flex-wrap align-items-center justify-content-between gap-2">
            <span class="flex align-items-center gap-2">
              <i class="pi pi-calendar"></i>
              <span class="font-semibold">{{ announcement.createdAt | date: "short" }}</span>
            </span>
              <ng-container *ngIf="myAnnouncements; else addToFavorites">
                <p-tag
                  [value]="announcement.status === 'ACTIVE' ? 'ACTIV' : (announcement.status === 'INACTIVE' ? 'INACTIV' : 'VANDUT')"
                  [severity]="announcement.status === 'ACTIVE' ? 'success' : (announcement.status === 'INACTIVE' ? 'danger' : 'info')"></p-tag>
              </ng-container>
              <ng-template #addToFavorites>
                <div>
                  <button pButton
                          [icon]="isUsersFavorite(announcement.favoriteAnnouncementVOS) ? 'pi pi-heart-fill' : 'pi pi-heart'"
                          class="p-button-text"
                          [pTooltip]="isUsersFavorite(announcement.favoriteAnnouncementVOS) ?
                        'Sterge din favorite' : 'Adauga la favorite'"
                          (click)="isUsersFavorite(announcement.favoriteAnnouncementVOS) ?
                      onRemoveFromFavorites($event, announcement.favoriteAnnouncementVOS) : onAddToFavorites($event, announcement.id)">
                  </button>
                  <ng-container *ngIf="announcement.status === 'SOLD'">
                    <p-tag [style]="{'marginBottom': '0.8rem'}"
                      [value]="'VANDUT'"
                      [severity]="'info'"></p-tag>
                  </ng-container>
                </div>

              </ng-template>
            </div>
            <div class="flex flex-column align-items-center py-5">
              <ng-container *ngIf="announcement.announcementType==='teachingMaterial' && announcement.attachmentVOs">
                <div class="col-4 p-0 d-flex justify-content-center" style="width: 65%">
                  <p-galleria [value]="announcement.attachmentVOs"
                              [numVisible]="1"
                              [circular]="true"
                              [showItemNavigators]="true"
                              [showThumbnails]="false"
                              [containerStyle]="{ 'max-width': '640px', 'width': '180px', 'height': '200px' }"
                              [style]="{'height': '100%'}">
                    <ng-template let-images pTemplate="item">
                      <img [src]="'data:image/jpeg;base64,' + images"
                           class="w-9 shadow-2 border-round"
                           alt="Product Image">
                    </ng-template>
                  </p-galleria>
                </div>
              </ng-container>
              <div class="text-2xl font-bold mb-3">{{ announcement.title }}</div>
              <div class="text-sm mb-5 announcement-description-wrapper">
                <p class="announcement-description">{{ announcement.description }}</p>
              </div>
            </div>
            <div class="row  justify-content-between announcement-footer">
              <div class="col-9 d-flex justify-content-start align-content-start mt-6">
                <span class="text-2xl font-semibold pt-5">{{ announcement.points + ' puncte' }}</span>
              </div>
              <div class="col-3 d-flex justify-content-end mt-5">
                <button pButton icon="pi pi-eye"
                        pRipple
                        [routerLink]="['./details']"
                        [queryParams]="{dialog: true}"
                        [state]="{type: announcement.announcementType, id: announcement.id, myAnnouncements: myAnnouncements}"
                        class="p-0 mt-6 p-button-text"
                        [pTooltip]="'Detalii'"
                        tooltipPosition="left">
                </button>
                <ng-container *ngIf="myAnnouncements && announcement.status === 'ACTIVE'">
                    <button pButton icon="pi pi-pencil" class="p-button-text p-0 mt-6"
                            (click)="onEdit($event, announcement.id, announcement.announcementType)"
                            [pTooltip]="'Editeaza'"
                            tooltipPosition="top"></button>
                    <button pButton icon="pi pi-trash" class="p-button-text p-0 mt-6"
                            [pTooltip]="'Sterge'"
                            (click)="onDelete($event, announcement.id)"></button>
                </ng-container>
                <ng-container *ngIf="!myAnnouncements && announcement.status === 'ACTIVE'">
                    <button pButton icon="pi pi-cart-plus"
                            class="p-0 mt-6 p-button-text"
                            [pTooltip]="'Cumpara'"
                            (click)="onBuy($event, announcement.id, announcement.announcementType)">
                    </button>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>
<p-dialog [(visible)]="visible" [blockScroll]="true" [closable]="true" [modal]="true" (onHide)="closeDialog()">
  <router-outlet></router-outlet>
</p-dialog>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
