<div class="cardd">
  <p-dataView [value]="announcements" [paginator]="true" [rows]="9" [totalRecords]="totalRecords"
              [lazy]="true" (onLazyLoad)="onLazyLoad($event.first / 9, 9)"
              [layout]="'grid'">
    <ng-template let-announcement pTemplate="gridItem">
      <div class="col-4 p-2">
        <div class="p-4 border-1 surface-border surface-card border-round h-100 announcement-card card-border"
             [routerLink]="['./details']" [queryParams]="{dialog: true}"
             [state]="{type: announcement.announcementType, id: announcement.id, myAnnouncements: myAnnouncements}">
          <div class="flex flex-wrap align-items-center justify-content-between gap-2">
            <span class="flex align-items-center gap-2">
              <i class="pi pi-calendar"></i>
              <span class="font-semibold">{{ announcement.createdAt | date }}</span>
            </span>
            <ng-container *ngIf="myAnnouncements; else addToFavorites">
              <p-tag
                [value]="announcement.status === 'ACTIVE' ? 'ACTIV' : (announcement.status === 'INACTIVE' ? 'INACTIV' : 'VANDUT')"
                [severity]="announcement.status === 'ACTIVE' ? 'success' : (announcement.status === 'INACTIVE' ? 'danger' : 'info')"></p-tag>
            </ng-container>
            <ng-template #addToFavorites>
              <button pButton
                      [icon]="isUsersFavorite(announcement.favoriteAnnouncementVOS) ? 'pi pi-heart-fill' : 'pi pi-heart'"
                      class="p-button-text"
                      (click)="isUsersFavorite(announcement.favoriteAnnouncementVOS) ?
                      onRemoveFromFavorites($event, announcement.favoriteAnnouncementVOS) : onAddToFavorites($event, announcement.id)">
              </button>
            </ng-template>
          </div>
          <div class="flex flex-column align-items-center py-5">
            <ng-container *ngIf="announcement.announcementType==='teachingMaterial' && announcement.attachmentVOs">
              <div class="col-4 p-0" style="width: 65%">
                <p-galleria [value]="announcement.attachmentVOs"
                            [numVisible]="1"
                            [circular]="true"
                            [showItemNavigators]="true"
                            [showThumbnails]="false"
                            [containerStyle]="{ 'max-width': '640px', 'width': '180px', 'height': '200px' }">
                  <ng-template let-images pTemplate="item">
                    <img [src]="'data:image/jpeg;base64,' + images"
                         class="w-9 shadow-2 border-round"
                         alt="Product Image">
                  </ng-template>
                </p-galleria>
              </div>
            </ng-container>
            <div class="text-2xl font-bold">{{ announcement.title }}</div>
            <div class="text-sm font-semibold">{{ announcement.description }}</div>
          </div>
          <div class="flex align-items-center justify-content-between pt-3 mt-3 announcement-footer">
            <span class="text-2xl font-semibold">{{ announcement.points + ' puncte' }}</span>
            <div class="row d-flex justify-content-end">
              <ng-container *ngIf="myAnnouncements && announcement.status === 'ACTIVE'">
                <div class="col-3">
                  <button pButton icon="pi pi-pencil" class="mb-2 p-button-text"
                          (click)="onEdit($event, announcement.id, announcement.announcementType)"></button>
                </div>
                <div class="col-3">
                  <button pButton icon="pi pi-trash" class=" mb-2 p-button-text"
                          (click)="onDelete($event, announcement.id)"></button>
                </div>
              </ng-container>
              <ng-container *ngIf="!myAnnouncements && announcement.status === 'ACTIVE'">
                <div class="col-3">
                  <button pButton icon="pi pi-cart-plus" class=" mb-2 p-button-text"
                          (click)="onBuy($event, announcement.id, announcement.announcementType)"></button>
                </div>
              </ng-container>

            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
<p-dialog [(visible)]="visible" [blockScroll]="true" [closable]="true" [modal]="true" (onHide)="closeDialog()">
  <router-outlet></router-outlet>
</p-dialog>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
