.chat-list {
  background-color: var(--teal-200);
  border: 1px solid #E3E1D9;
  border-radius: 20px 0 0 20px;
}
.chat {
  box-shadow: 0 0 10px #aaa;
  border: 1px solid #E3E1D9;
  border-radius: 20px;
  background-color: white;
}
