.update-page {
  box-shadow: 0 0 10px #aaa;
  border: 1px solid #E3E1D9;
}

.email {
  font-size: 17px;
}

.sold {
  font-size: 24px;
  font-weight: bold;
}

.points {
  font-size: 21px;
  font-weight: 500;
}

.withdraw {
  font-size: 20px;
}
