<main class="container">
  <div class="ps-lg-3">
    <h4 class="title text-dark">
      {{announcement?.title}}
    </h4>
    <div class="d-flex flex-row my-3">
      <div class="text-warning mb-1 me-2">
        <span class="ms-1">
                {{announcement?.createdAt | date: 'dd/MM/yyyy'}}
              </span>
      </div>
      <span class="text-muted pb-5" *ngIf="!myAnnouncements">
        <img [src]="announcement?.userDetailsVO?.base64EncodedStringOfFileContent ?
          'data:image/jpeg;base64,' + announcement?.userDetailsVO?.base64EncodedStringOfFileContent : './assets/no-profile-pic.png'"
             alt=""
             class="rounded-circle profile-pic"
             (click)="op.toggle($event)"
        >
      </span>
      <span class="text-success ms-2">{{announcement?.status}}</span>
    </div>
    <div class="row pb-3" *ngIf="announcement?.announcementType === 'teachingMaterial'">
      <div class="col-3">
        <p-galleria [value]="announcement?.attachmentVOs"
                    [numVisible]="1"
                    [circular]="true"
                    [showItemNavigators]="true"
                    [showThumbnails]="false"
                    [containerStyle]="{ 'max-width': '640px', 'width': '300px'}"
                    [style]="{'height': '100%', 'width': '100%'}">
          <ng-template let-images pTemplate="item">
            <img [src]="'data:image/jpeg;base64,' + images"
                 class="w-9 shadow-2 border-round" [style]="{'height': '100%', 'width': '100%'}"
                 alt="Product Image">
          </ng-template>
        </p-galleria>
      </div>
      <div class="col-9">
        <div class="mb-3">
          <span class="h5">{{announcement?.points}} puncte</span>
        </div>
        <p>
          {{announcement?.description}}
        </p>
        <div class="row">
          <dt class="col-1">Nume</dt>
          <dd class="col-11">{{(announcement?.name) ? announcement?.name : "-"}}</dd>

          <dt class="col-1">Autor</dt>
          <dd class="col-11">{{announcement?.author ? announcement?.author : "-"}}</dd>

          <dt class="col-1">Editie</dt>
          <dd class="col-11">{{announcement?.edition ? announcement?.edition : "-"}}</dd>
        </div>
      </div>
    </div>

    <ng-container *ngIf="announcement?.announcementType !== 'teachingMaterial'">
      <div class="mb-3">
        <span class="h5">{{announcement?.points}} puncte</span>
      </div>

      <p>
        {{announcement?.description}}
      </p>
    </ng-container>

    <div class="row">
      <ng-container *ngIf="announcementType === 'tutoringService'">
        <dt class="col-2">Subiect</dt>
        <dd class="col-10">{{announcement?.subject}}</dd>

        <dt class="col-2">De la</dt>
        <dd class="col-10">{{announcement?.startDate}}</dd>

        <dt class="col-2">Pana la</dt>
        <dd class="col-9">{{announcement?.endDate ? announcement?.endDate : "-"}}</dd>

        <dt class="col-2">Ore per sesiune</dt>
        <dd class="col-10">{{announcement?.hoursPerSession ? announcement?.hoursPerSession : "-"}}</dd>

        <dt class="col-2">Mod de predare</dt>
        <dd class="col-10">{{announcement?.tutoringType}}</dd>
      </ng-container>
      <ng-container *ngIf="announcementType === 'project'">
        <dt class="col-2">Domeniu</dt>
        <dd class="col-10">{{announcement?.domain}}</dd>

        <dt class="col-2">Numar membrii</dt>
        <dd class="col-10">{{announcement?.teamSize}}</dd>

        <div class="my-3">
          <span class="h5">Abilitati necesare</span>
        </div>

        <div class="container mt-2">
          <div class="row">
            <div *ngFor="let skillControl of announcement?.requiredSkills; let i = index" class="col-md-6 mb-4">
              <div class="card h-100 shadow-sm" [style]="{'color': skillControl.status === SkillStatusModel.SOLD ? '#B4B4B8' : ''}">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h5 class="card-title mb-4">Abilitatea {{i + 1}}</h5>
                    <ng-container *ngIf="skillControl.status === SkillStatusModel.SOLD">
                      <p-tag [value]="'VANDUT'"
                             [severity]="'danger'"></p-tag>
                    </ng-container>
                  </div>
                  <dl class="row">
                    <dt class="col-sm-2">Abilitate</dt>
                    <dd class="col-sm-10">{{ skillControl.skill }}</dd>

                    <dt class="col-sm-2">Puncte</dt>
                    <dd class="col-sm-10">{{ skillControl.skillPoints }}</dd>

                    <dt class="col-sm-2">Descriere</dt>
                    <dd class="col-sm-10">{{ skillControl.description }}</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>

      </ng-container>
    </div>
  </div>

</main>

<p-overlayPanel #op>
  <p>
    Anunt publicat de: {{announcement?.userDetailsVO?.firstName}} {{announcement?.userDetailsVO?.lastName}}
  </p>
  <p>
    {{announcement?.userDetailsVO?.email}}
  </p>
  <ng-container *ngIf="!isMessageInput">
    <button pButton
            pRipple
            class="p-button-text"
            [label]="'Lasa un mesaj!'"
            (click)="showMessageInput()">
    </button>
  </ng-container>
  <ng-container *ngIf="isMessageInput">
    <form [formGroup]="form" (ngSubmit)="onSubmit(announcement?.userDetailsVO?.id)"
          class="input-form row align-items-center">
      <input pInputText placeholder="Scrie..." formControlName="message" name="chatMessageDto"
             class="col-10">
      <button pButton
              pRipple
              type="submit"
              [disabled]="form.get('message').value === null || form.get('message').value === ''"
              class="col-2 p-button-text"
              icon="pi pi-send">
      </button>
    </form>
  </ng-container>

</p-overlayPanel>
