<div class="container mt-3">
  <div class="flex flex-column gap-2 chat-list" style="height: 460px; overflow-y: auto;">
    <ul *ngFor="let chat of chats; let i = index">
      <li class="mb-0 chat-room clearfix"
          [ngClass]="{'selected-chatroom' : isSelected(chat.chatRoomVO?.recipientId), 'unread-message': chat.hasUnreadMessages && !isSelected(chat.chatRoomVO?.recipientId)}"
          [ngStyle]="{'margin-top': i === 0 ? 0 : '-24px'}"
          (click)="getChatRoomMessages(chat.chatRoomVO?.recipientId)">
        <img [src]="chat.chatRoomVO?.base64EncodedStringOfFileContent ?
          'data:image/jpeg;base64,' + chat.chatRoomVO?.base64EncodedStringOfFileContent : './assets/no-profile-pic.png'"
             alt=""
             class="rounded-circle profile-pic">
        <div class="chat-content">
          <div class="text-white">
            <strong [ngClass]="{'font-weight-bold': chat.hasUnreadMessages}">
              {{chat.chatRoomVO?.firstName}} {{chat.chatRoomVO?.lastName}}
            </strong>
            <i *ngIf="chat.hasUnreadMessages && !isSelected(chat.chatRoomVO?.recipientId)"
               [style]="{'color': '#EF4444', 'font-weight': 'bold'}"
               class="pi pi-bell"></i>
          </div>
          <div class="text-muted last-message text-white mt-2">
            {{ chat.chatRoomVO?.recipientId === chat.lastMessage?.senderId ? chat.lastMessage?.content : 'Tu: ' + chat.lastMessage?.content}}
          </div>
          <div>
            <small class="date text-muted text-white">{{chat.lastMessage?.timestamp | date: "dd/MM/yyyy" }}</small>
          </div>
          <div>
            <small class="time text-muted text-white">{{chat.lastMessage?.timestamp | date: "shortTime" }}</small>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
