li.chat-room {
  position: relative;
  padding: 12px;
  list-style-type: none;
  box-sizing: content-box;
  margin: 0 0 0 -42px;
  border-bottom: 1px solid #eee;
}
li.chat-room:hover {
  cursor: pointer;
  background-color: var(--teal-500);
}

li.selected-chatroom {
  background-color: var(--teal-500);
}

.chat-list {
  overflow-y: auto;
  overflow-x: hidden;
}
.profile-pic {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.last-message {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 85%;
}

.date {
  position: absolute;
  top: 13px;
  right: 8px;
  font-size: 65%;
}

.time {
  position: absolute;
  top: 27px;
  right: 8px;
  font-size: 65%;
}
