<form [formGroup]="form">
  <div class="row d-flex justify-content-center">
    <div class="col-3 pb-4">
      <span class="p-float-label flex-grow-1">
        <input
          id="subject"
          style="width: 100%"
          name="subject"
          formControlName="subject"
          type="text"
          pInputText
        >
        <label for="subject">Subiect*</label>
      </span>
    </div>

    <div class="col-3 pb-4">
      <span class="p-float-label flex-grow-1">
        <input
          style="width: 100%"
          id="hoursPerSession"
          name="hoursPerSession"
          formControlName="hoursPerSession"
          type="number"
          pInputText
        >
        <label for="hoursPerSession">Ore per sesiune</label>
      </span>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-3 pb-4">
      <span class="p-float-label flex-grow-1">
        <p-calendar [showClear]="true"
                    [style]="{'width': '100%'}"
                    formControlName="startDate"
                    id="startDate"
                    dataType="string"
                    dateFormat="yy-mm-dd"
                    appendTo="body">
        </p-calendar>
        <label for="startDate">De la*</label>
      </span>
    </div>

    <div class="col-3 pb-4">
      <span class="p-float-label flex-grow-1">
        <p-calendar [showClear]="true"
                    [style]="{'width': '100%'}"
                    formControlName="endDate"
                    id="endDate"
                    dataType="string"
                    dateFormat="yy-mm-dd"
                    appendTo="body">
        </p-calendar>
        <label for="endDate">Pana la</label>
      </span>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-3">
      <span class="p-float-label flex-grow-1">
         <p-dropdown [options]="tutoringTypes"
                     [style]="{'width': '100%'}"
                     formControlName="tutoringType"
                     placeholder="Modul de predare"
                     optionLabel="label"
                     appendTo="body"
                     id="tutoringType">
         </p-dropdown>
         <label for="tutoringType">Modul de predare*</label>
      </span>
    </div>
  </div>
</form>
