<section class="d-flex justify-content-center align-items-center pt-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h2 class="d-flex justify-content-center align-items-center gap-2 mb-4">
                        <span class="display-1 fw-bold text-teal-500">4</span>
                        <i class="pi pi-exclamation-circle text-danger display-4"></i>
                        <span class="display-1 fw-bold text-danger">3</span>
                    </h2>
                    <h3 class="h2 mb-2 text-teal-500">Acces interzis!</h3>
                    <p class="mb-5 text-teal-500">Nu aveti permisiuni pentru a vizualiza aceasta pagina.</p>
                </div>
            </div>
        </div>
    </div>
</section>
