<form [formGroup]="form">
  <div class="col-12 pb-4">
  <span class="p-float-label flex-grow-1">
    <input
      id="name"
      name="name"
      formControlName="name"
      type="text"
      pInputText
    >
    <label for="name">
       Nume
    </label>
  </span>
  </div>

  <div class="col-12 pb-4">
  <span class="p-float-label flex-grow-1">
    <input
      id="author"
      name="author"
      formControlName="author"
      type="text"
      pInputText
    >
    <label for="author">
       Autor
    </label>
  </span>
  </div>

  <div class="col-12 pb-4">
  <span class="p-float-label flex-grow-1">
    <input
      id="edition"
      name="edition"
      formControlName="edition"
      type="number"
      pInputText
    >
    <label for="edition">
       Editie
    </label>
  </span>
  </div>
</form>
