<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                  <img  [src]="userVo.profilePictureVO?.base64EncodedStringOfFileContent ?
                  'data:image/jpeg;base64,' + userVo.profilePictureVO?.base64EncodedStringOfFileContent : './assets/no-profile-pic.png'"
                        alt="No profile pic"
                        class="rounded-circle"
                        width="150"
                  >
                <div class="mt-3">
                  <h4>{{userVo.firstName}} {{userVo.lastName}}</h4>
                  <p class="text-muted font-size-sm">{{userVo.createdAt | date: 'short'}}</p>
                </div>
              </div>

          </div>
        </div>
        <div class="card mt-3 p-3">
          <h6 class="d-flex justify-content-center text-purple-700">Retrage-ti punctele scanand codul QR!</h6>
          <div class="d-flex flex-column align-items-center">
            <img  [src]="'data:image/jpeg;base64,' + userVo.qrCodeVO?.base64EncodedStringOfQRCode"
                  alt="No QR Code"
                  width="370"
            >
          </div>

        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <ng-container *ngIf="!editMode else edit">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Prenume</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{userVo.firstName}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Nume</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{userVo.lastName}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{userVo.email}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Puncte</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{userVo.points}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12 d-flex justify-content-end">
                  <button pButton
                          pRipple
                          class="p-button-icon-only p-button-text p-button-rounded"
                          [pTooltip]="'Editeaza'"
                          icon="pi pi-pencil"
                          (click)="onEditProfile()">
                  </button>
                </div>
              </div>
            </ng-container>
            <ng-template #edit>
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Prenume</h6>
                  </div>
                  <div class="col-sm-9">
                  <span class="p-float-label flex-grow-1">
                    <input
                      pInputText
                      id="firstName"
                      name="firstName"
                      formControlName="firstName"
                      type="text"
                      required
                      style="height: 15px;padding: 12px 10px"
                    >
                  </span>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Nume</h6>
                  </div>
                  <div class="col-sm-9">
                  <span class="p-float-label flex-grow-1">
                    <input
                      pInputText
                      id="lastName"
                      name="lastName"
                      formControlName="lastName"
                      type="text"
                      required
                      style="height: 15px;padding: 12px 10px"
                    >
                  </span>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{userVo.email}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Puncte</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{userVo.points}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-12 d-flex justify-content-end">
                    <button pButton
                            pRipple
                            class="p-button-text p-button-danger me-2"
                            icon="pi pi-times"
                            (click)="onEditCancel()">
                      Anuleaza
                    </button>
                    <button pButton
                            pRipple
                            icon="pi pi-check"
                            [disabled]="form.invalid"
                            (click)="onSubmit()">
                      Salveaza
                    </button>
                  </div>
                </div>

              </form>

            </ng-template>
          </div>
        </div>

        <div class="row gutters-sm">
          <div class="col-sm-6 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <h6 class="d-flex justify-content-center mb-3 text-green-500">Anunturi vandute</h6>
                <p-chart type="doughnut" [data]="soldAnnouncements" [options]="options"></p-chart>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <h6 class="d-flex justify-content-center mb-3 text-blue-500">Anunturi create</h6>
                <p-chart type="doughnut" [data]="createdAnnouncements" [options]="options"></p-chart>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
