/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
@import "primeicons/primeicons.css";

:root {
  --backgroundColor: #eef2f3;
}

body {
  font-family: Helvetica, Arial, sans-serif !important;
  background: var(--backgroundColor) !important;
}
