<h3 class="text-center pb-3" [style]="{color: 'var(--teal-500)'}">Tranzactiile mele</h3>
<div class="p-5 m-5">
  <p-table #dt
           [value]="transactions"
           [paginator]="true"
           [rows]="10"
           [totalRecords]="totalRecords"
           [lazy]="true"
           dataKey="id"
           [globalFilterFields]="['id', 'createdAt', 'amount', 'announcementTitle']"
           (onLazyLoad)="onLazyLoad($event)">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="type" style="width:20%">Tip Tranzactie
          <p-sortIcon field="type"></p-sortIcon>
        </th>
        <th pSortableColumn="createdAt">Creat la
          <p-sortIcon field="createdAt"></p-sortIcon>
        </th>
        <th pSortableColumn="amount" style="width:20%">Suma
          <p-sortIcon field="amount"></p-sortIcon>
        </th>
        <th pSortableColumn="user" style="width:20%">Utilizator
          <p-sortIcon field="user"></p-sortIcon>
        </th>
        <th pSortableColumn="announcementTitle" style="width:20%">Anunt
          <p-sortIcon field="announcementTitle"></p-sortIcon>
        </th>
        <th pSortableColumn="skill" style="width:20%">Abilitate
          <p-sortIcon field="skill"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <td>
          <p-dropdown [options]="transactionTypes"
                      optionLabel="label"
                      [ngModel]="this.getFilterValue(dt.filters['type'])"
                      (ngModelChange)="dt.filter($event, 'type', 'equals')"
                      [showClear]="true"
                      placeholder="Cauta...">
          </p-dropdown>
        </td>
        <td>
          <div class="w-100">
            <p-calendar [ngModel]="this.getFilterValue(dt.filters['createdAt'])"
                        (onSelect)="dt.filter($event, 'createdAt', 'equals')"
                        (onClear)="dt.filter(null, 'createdAt', 'equals')"
                        (onClearClick)="dt.filter(null, 'createdAt', 'equals')"
                        [showClear]="true"
                        placeholder="Cauta...">
            </p-calendar>
          </div>
        </td>
        <td>
          <input type="number" pInputText [value]="this.getFilterValue(dt.filters['amount'])"
                 class="table-search"
                 (input)="dt.filter($any($event.target).value, 'amount', 'equals')" placeholder="Cauta..."/>
        </td>
        <td>
          <input pInputText [value]="this.getFilterValue(dt.filters['secondUserFullName'])"
                 class="table-search"
                 (input)="dt.filter($any($event.target).value, 'secondUserFullName', 'contains')" placeholder="Cauta..."/>
        </td>
        <td>
          <input pInputText [value]="this.getFilterValue(dt.filters['announcementTitle'])"
                 class="table-search"
                 (input)="dt.filter($any($event.target).value, 'announcementTitle', 'contains')" placeholder="Cauta..."/>
        </td>
        <td>
          <input pInputText [value]="this.getFilterValue(dt.filters['skill'])"
                 class="table-search"
                 (input)="dt.filter($any($event.target).value, 'skill', 'contains')" placeholder="Cauta..."/>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction>
      <tr
        [ngClass]="{'earn': transaction.type === 'EARN', 'spend': transaction.type === 'SPEND'}">
        <td>
          <p-tag [severity]="transaction.type === 'EARN' ? 'success' : 'danger'"
                 [value]="transaction.type === 'EARN' ? 'CASTIG' : 'CHELTUIRE'">
          </p-tag>
        </td>
        <td>{{transaction.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>{{transaction.amount}}</td>
        <td>{{transaction.secondUserFullName}}</td>
        <td>
          <div [ngClass]="">
            {{transaction.announcementTitle}}
          </div>
        </td>
        <td>{{transaction.skill ? transaction.skill : '-'}}</td>
      </tr>
    </ng-template>
  </p-table>

</div>
