<form [formGroup]="form">
  <div class="row d-flex justify-content-center">
    <div class="col-3 pb-4">
      <span class="p-float-label flex-grow-1">
        <input
          id="domain"
          name="domain"
          formControlName="domain"
          type="text"
          pInputText
          style="width: 100%"
        >
        <label for="domain">
          Domeniu*
        </label>
      </span>
    </div>

    <div class="col-3 pb-4">
      <span class="p-float-label flex-grow-1">
        <input
          id="teamSize"
          name="teamSize"
          formControlName="teamSize"
          type="number"
          pInputText
          style="width: 100%"
        >
        <label for="teamSize">
          Numar membrii*
        </label>
      </span>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center pb-4">
      <h5 class="me-2">Abilitati necesare</h5>
      <button pButton icon="pi pi-plus" class="p-button-outlined" style="width: 2em;height: 2em" (click)="addSkill()"></button>
  </div>

  <div class="container">
    <div class="row">
      <div formArrayName="requiredSkills"
           *ngFor="let skillControl of this.form.controls['requiredSkills']?.controls; let i = index"
            class="col-md-6">
        <div [formGroup]="skillControl">
          <div class="row">
            <div class="col-6">
              <div class="col-12 pb-4">
              <span class="p-float-label flex-grow-1">
                <input
                  id="skill"
                  name="skill"
                  formControlName="skill"
                  type="text"
                  pInputText
                  style="width: 100%"
                >
                <label for="skill">
                  Abilitate*
                </label>
              </span>
              </div>
              <div class="col-12 pb-4">
              <span class="p-float-label flex-grow-1">
                <input
                  id="skillPoints"
                  name="skillPoints"
                  formControlName="skillPoints"
                  type="number"
                  [min]="1"
                  pInputText
                  style="width: 100%"
                >
                <label for="skillPoints">
                  Punctele abilitatii*
                </label>
              </span>
              </div>
            </div>

            <div class="col-6 d-flex align-items-center">
              <div class="col-11 pb-4">
              <span class="p-float-label flex-grow-1">
                <textarea
                  id="description"
                  name="description"
                  rows="4"
                  formControlName="description"
                  type="text"
                  pInputText
                  style="width: 100%"
                >
                </textarea>
                <label for="description">
                  Descriere
                </label>
              </span>
              </div>
              <div class="col-1 pb-4">
                <button *ngIf="this.form.controls['requiredSkills']?.controls.length > 1"
                        pButton
                        type="button"
                        class="p-button-text"
                        icon="pi pi-trash"
                        (click)="removeSkill(i)"
                >
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let formGroup of form.get('requiredSkills').controls">
    <small class="p-error"
           *ngIf="formGroup.get('skillPoints')?.hasError('pointsSumExceeded')">
      Suma punctelor abilitatilor nu coincide cu numarul total de puncte
    </small>
  </div>
</form>

